<?xml version="1.0"?>
<launch>

  <arg name="world_name" default="$(find marrtino_gazebo)/worlds/challenge.world"/>

  <include file="$(find marrtino_gazebo)/launch/spawn_marrtino.launch">
    <arg name="launch_navigation" value="true"/>
    <arg name="launch_mapping" value="false"/>
    <arg name="map_file" value="arena.yaml"/>
    <arg name="yaw" value="3.14"/>
  </include>

  <!-- start simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
