<?xml version="1.0"?>
<launch>

  <arg name="simulation" default="false"/>
  <arg name="prefix" default="marrtino_"/>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find marrtino_control)/config/control.yaml" />
  <param name="marrtino_base_controller/left_wheel" value="$(arg prefix)left_wheel_joint"/>
  <param name="marrtino_base_controller/right_wheel" value="$(arg prefix)right_wheel_joint"/>
  <param name="marrtino_base_controller/base_frame_id" value="$(arg prefix)base_footprint" />
  <param name="marrtino_base_controller/odom_frame_id" value="$(arg prefix)odom" />

  <!-- Spawn controllers -->
  <!--
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  args="joint_state_controller marrtino_base_controller"/>
  -->

  <!-- Twist Mux -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find marrtino_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="marrtino_base_controller/cmd_vel" />
  </node>

</launch>
